@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

.menu {
    display: none;
}

.hero-img {
    width: 100vw;
    margin-bottom: 2rem;
}

.body-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 1rem;
    color: var(--almost-black);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.body-text p {
    color: var(--medium-gray);
    padding: 0.5rem 1rem;
    line-height: 1.75rem;
    font-size: 1.2rem;
    text-align: center;
    line-break: loose;
    width: 86vw;
}

.cta-btn {
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 0.9rem 1.4rem;
    margin: 1.5rem 0;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.15rem;
    cursor: pointer;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    margin: 0 0.5rem;
    
}

.images img {
    width: 4.2rem;
}





